h1,h3,ul,li,body,html,input,div,span,p{
	margin:0;
	padding:0;
}
input,img{
	border:0;
}
a{
	text-decoration: none;

}
a:hover{
	color: blue;
}
li{
	list-style: none;
}
.clearfix:after{
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
.clearfix{
	zoom:1;
}
body{
	color: black;
	font-size: 12px;
	font-family: "ו";
}

.fl{
	float: left;
}
.fr{
	float: right;
}
.banxin{
	/*width: 1228px;*/
	margin:0 auto;
}