html,body,img,input,ul,li,dl,dd,dt,p,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    font-family: "微软雅黑";
}
img,input{
    border:0;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}
.clearfix:after{
    content:"";
    height: 0;
    line-height: 0;
    visibility: hidden;
    display:block;
    clear:both;
}
.clearfix{
    zoom:1;
}
.fl{
    float: left;
}
.fr{
    float: right;
}